* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.App {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 2000px;
}
.App::-webkit-scrollbar {
  display: none;
}
