* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.App {
  -ms-overflow-style: hidden;
  scrollbar-width: none;
}
.App::-webkit-scrollbar {
  display: none;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

@import url("./model.css");

.btn-secondary {
  background-color: #6c757d;
}
.btn {
  border: none;
  font-size: 18px;
  background: none;
}
